*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ecffb6;
}

::-webkit-scrollbar{
  width: 15px;
  background:rgba(66, 155, 15, 0.808);
  
}

::-webkit-scrollbar-track{
  background: transparent;
}

::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(143, 90, 11), rgb(13, 75, 33));
  border-radius: 10px;
  box-shadow: 2px 2px 7px var(--clr-bright);
}

.index-header-1{
  text-align: center;
  background-color: #FBF3D5;
  margin-top: 5%;
  padding: 50px 80px;
}
body{
  background: linear-gradient(to bottom right, rgba(0, 128, 0, 0.897),lightgreen, darkgreen);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker-form-header
{
  text-align: center;
  background-color: #8ec077c5;
  border: 4px solid #586412d8;
  border-radius: 90px;

  width: 80%;
  margin: 20px 0;
  padding: 50px;
}

.speaker-form-header h1
{
  font-size: 30px;
  margin-bottom: 20px;
}

.speaker-form-header > img{
  border: 2px solid #395c30;
  border-radius: 80px;
}
.speaker-form
{
  background-color: #8ec077c5;
  border: 4px solid #586412d8;
  border-radius: 90px;
  font-size: 20px;
  
  width: 80%;
  padding: 50px;
  margin: 0 0 40px 0;
}

.form-row
{
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}


.form-row input[type = 'text'],
.form-row input[type = 'email']
{
  background-color: #b9cc72e0;
  border: 1px solid #395c30;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row input[type = 'text']:invalid,
.form-row input[type = 'email']:invalid
{
  border: 1px solid #76976c;
  color: #D55C5F;
  box-shadow: none;
}


.legacy-form-row
{
  border: none;
  margin-bottom: 40px;
  margin-top: 30px;
}

.legacy-form-row .radio-label
{
  display: block;
  font-size: 12px;
  padding: 0 15px 0 5px;
}

.legacy-form-row input[type = 'radio']
{
  margin-top: 6px;
  margin-left: 30px;
}

.legacy-form-row .radio-label, 
.legacy-form-row input[type = 'radio']{
  float: left;
  font-size: 18px;
}

@media only screen and (min-width: 700px)
{
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
  .form-row{
    flex-direction: row;
    align-items: flex-start; /* to avoid stretching */
    margin-bottom: 20px;
    height: initial;
  }
  .form-row input[type = 'text'],
  .form-row input[type = 'email'],
  .form-row select,
  .form-row textarea
  {
    width: 250px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 150px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .legacy-form-row {
    margin-bottom: 10px;
  }
  .legacy-form-row legend{
    width: 120px;
    text-align: right;
    align-items: flex-start;
    padding-right: 20px;

  }
  .legacy-form-row legend {
    float: left;
  }
  .form-row .instructions { 
    margin-left: 120px; 
  } 
  .form-row .checkbox-label {     
    margin-left: 120px; 
    width: auto; 
  } 

}
.form-row select {   
  width: 50%; 
  padding: 5px; 
  font-size: 14px;             
  appearance: none;
} 
.form-row textarea { 
  font-family: "Helvetica", "Arial", sans-serif;   
  font-size: 14px; 
  
  background-color: #b9cc72e0;
  border: 1px solid #395c30; 
  border-radius: 3px; 
 
  min-height: 200px;   
  margin-bottom: 10px;   
  padding: 7px;   
  resize: none; 
} 
 
.form-row .instructions {   
  color: #3a441dd8;   
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 42px;
} 
.form-row .checkbox-label { 
  margin-bottom: 0; 
} 

/*Button (Drop-down Menu)*/
*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
button,li,a{
    all: unset; 
    box-sizing: border-box;
}

#dropdown{
  --border-radius: 7px;
  --shadow-color: 60deg 13% 61%;
  max-width: 250px;
  width: 100%;
  background-color: #b9cc72e0;
  border-radius: var(--border-radius);
  position: relative;
  border: 1px solid #395c30;
}
.dropdown-toggle,.menu-item,.submenu-item{
  width: 100%;
  padding: 5px 20px;
  cursor: pointer;
}

:is(.menu-item, .submenu-item):first-child{
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

:is(.menu-item, .submenu-item):last-child{
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

:is(.menu-item, .submenu-item):hover{
  background-color: rgb(115, 150, 111);
}

:is(.dropdown-toggle):hover{
  background-color: rgb(115, 150, 111);
  border-radius: var(--border-radius);
}
.dropdown-toggle,.submenu-toggle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i{
  color: #448b63e2;
  transition: 0.25s ease;
}

.dropdown-toggle.open > i{
  rotate: 180deg;
}

.dropdown{
  position: relative;
}
#dropdown{
  margin-left: 18px;
}
.menu, .submenu{
  display: flex;
  flex-direction: column;
  background-color:  #a8b871e0;

  border-radius: var(--border-radius);
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.menu{
  width: 100%;
  translate: 0 -12px;
}

.menu.open{
  visibility: visible;
  opacity: 1;
  translate: 0 12px;
}

.submenu{
  width: max-content;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 100%;
  translate: -12px 0;
}

.menu-item:hover > .submenu-toggle +.submenu{
  visibility: visible;
  opacity: 1;
  translate: 8px 0;
}

/*Button*/
.group-button{
  display: flex;
  justify-content: center;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b9cc72e0;
  border-radius: 20px;
  border:1px solid rgb(13, 75, 33);

  cursor: pointer;
  width: 120px;
  height: 40px;
  margin: 10px;
}

:is(.order, .cancel):hover{
  background-color: rgb(115, 150, 111);
}
